.cover {
  position: relative;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.cover .masking {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 0;
}

.cover .credit {
  position: absolute;
  left: 100px;
  bottom: 10px;
}

.cover .social a {
  color: white;
}

.skillBar m-lg-4 p-lg-4 {
  background: #c2e59c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64b3f4, #c2e59c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}